<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie App</title>
    <link href="./../dist/styles.css" rel="stylesheet">
</head>
<body ng-app="app">
    <div ng-controller="MovieController as vm">
        <h1>Clutter Movies</h1>
        <div>
            <div ng-if="!vm.selectedMovie">
                Movie Facts
            </div>
            <div ng-if="vm.selectedMovie" id="selected-movie">
                <h1>
                    <span ng-bind="vm.selectedMovie.title"></span>
                    <span ng-bind="vm.selectedMovie.release_date | date: '(yyyy)' "></span>
                </h1>
                <div id="movie-details">
                    <img class="shrink-to-fit"
                         ng-src="https://image.tmdb.org/t/p/w500/{{vm.selectedMovie.poster_path}}"
                         ng-attr-alt="Large poster for {{vm.selectedMovie.title}}"
                         width="500px">
                    <div>
                        <p ng-bind="vm.selectedMovie.overview"></p>
                    </div>
                </div>
                <div id="actor-container">
                    <actor-card ng-repeat="actor in vm.cast track by actor.tmdb_id"
                                actor="actor">
                    </actor-card>
                </div>
            </div>
        </div>
        <div>
            <h1>Movies</h1>
            <input ng-change="vm.updateList()"
                   ng-model="vm.searchString"
                   placeholder="Search for a movie"
                   type="text">
            <div ng-if="vm.searchString">
                <div ng-if="vm.isListLoading">
                    Searching for matches...
                </div>
                <div ng-if="!vm.isListLoading">
                    <div ng-if="vm.movies.length">
                        <movie-listing ng-repeat="movie in vm.movies | orderBy: 'title' track by movie.id"
                                       movie="movie"
                                       ng-click="vm.selectMovie(movie)">
                        </movie-listing>
                    </div>
                    <div ng-if="!vm.movies.length">
                        No movies found with <span ng-bind="vm.searchString"></span> in their title.
                        Try another search term!
                    </div>
                </div>
            </div>
            <div ng-if="!vm.searchString">
                Start typing a movie name to search our movie database.
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./../dist/build.js"></script>
</body>
</html>
