<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie App</title>
</head>
<body ng-app="app">
    <div ng-controller="MovieController as vm"
         style="display: flex; justify-content: space-between">
        <div style="width: 50%">
            <div ng-if="!vm.selectedMovie">
                Movie Facts
            </div>
            <div ng-if="vm.selectedMovie">
                <h1>
                    <span ng-bind="vm.selectedMovie.title"></span>
                    <span ng-bind="vm.selectedMovie.release_date | date: '(yyyy)' "></span>
                </h1>
                <p ng-bind="vm.selectedMovie.overview"></p>
                <img ng-src="https://image.tmdb.org/t/p/w500/{{vm.selectedMovie.poster_path}}"
                     ng-attr-alt="Large poster for {{vm.selectedMovie.title}}"
                     width="500px">
                <!--TODO: make this a directive so we can use it elsewhere?-->
                <div ng-repeat="actor in vm.cast track by actor.tmdb_id" style="border: 1px solid blue">
                    <img ng-if="actor.profile_path"
                         ng-src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}"
                         ng-attr-alt="Photo of {{actor.name}}"
                         width="250px">
                    <p ng-if="!actor.profile_path">No photo available</p>
                    <p>
                        <span ng-bind="actor.name"></span> as <span ng-bind="actor.character"></span>
                    </p>
                </div>
            </div>
        </div>
        <div style="width: 50%">
            <h1>Movies</h1>
            <input ng-change="vm.updateList()"
                   ng-model="vm.searchString"
                   placeholder="Search for a movie"
                   type="text">
            <movie-listing ng-repeat="movie in vm.movies track by movie.id"
                           movie="movie"
                           ng-click="vm.selectMovie(movie)">
            </movie-listing>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./../dist/build.js"></script>
</body>
</html>
