$clutterAqua: #00a29c;
$clutterBackground: #bfe2e1;
$clutterBlue: #38435e;
$clutterGray: #5c5d5e;
$clutterOrange: #ff4508;

body {
  color: $clutterGray;
  font-family: 'Tahoma', sans-serif;

  h1 {
    border-bottom: 2px solid $clutterOrange;
  }

  h2, h3 {
    text-align: center;
  }

  h1, h2, h3 {
    color: $clutterBlue;
  }
}

@media (min-width: 576px) {
  #main {
    position: relative;

    #detail-panel {
      margin-right: 295px;
    }

    #toggle-details {
      display: none;
    }

    #movie-details {
      display: block;
    }

    #search-panel {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

@media (min-width: 992px) {
  #main {
    #small-poster {
      display: none;
    }

    #large-poster {
      display: block;
    }
  }
}

#detail-panel, #search-panel {
  padding: 10px;
}

#toggle-details {
  color: $clutterAqua;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;

  &:hover {
    color: $clutterBlue;
    cursor: pointer;
  }
}

#movie-details {
  display: none;

  .show-details & {
    display: block;
  }
}

#movie-overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  p {
    max-width: 500px;
  }
}

#large-poster {
  display: none;
}

#actor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

actor-card {
  border: 2px solid $clutterAqua;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 150px;

  .no-photo {
    font-style: italic;
  }
}

#search-panel {
  background: $clutterBackground;
  border-radius: 5px;
  margin: 0 auto;
  width: 275px;

  h2 {
    text-align: left;
  }

  input {
    border-radius: 5px;
    font-size: 14px;
  }
}

#movie-list {
  margin-top: 20px;
}

.movie-listing {
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  width: 250px;

  p:first-of-type {
    font-weight: bold;
  }

  &:hover {
    border-color: $clutterOrange;
    cursor: pointer;
  }
}
