// TODO: mixins

body {
  font-family: 'Tahoma', sans-serif;
  padding: 10px;

  h1, h2, h3 {
    text-align: center;
  }
}

@media (min-width: 576px) {
  #main {
    position: relative;

    #detail-panel {
      margin-right: 295px;
    }

    #search-panel {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

@media (min-width: 992px) {
  #main {
    #small-poster {
      display: none;
    }

    #large-poster {
      display: block;
    }
  }
}

#toggle-details {
  color: blue;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;

  &:hover {
    color: darkblue;
    cursor: pointer;
  }
}

#detail-panel {
  padding: 10px;
}

#large-poster {
  display: none;
}

#movie-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  p {
    max-width: 500px;
  }
}

#actor-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  justify-content: center;
}

actor-card {
  border: 2px solid blue;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 150px;

  .no-photo {
    font-style: italic;
  }
}

#search-panel {
  background: lightblue;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  width: 275px;

  h2 {
    text-align: left;
  }

  input {
    border-radius: 5px;
    font-size: 14px;
  }
}

.movie-listing {
  border: 2px solid blue;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  text-align: center;
  width: 250px;

  p:first-of-type {
    font-weight: bold;
  }
}
