$clutterAqua: #00a29c;
$clutterBackground: #bfe2e1;
$clutterBlue: #38435e;
$clutterGray: #5c5d5e;
$clutterOrange: #ff4508;

$defaultBorderRadius: 5px;
$defaultCushion: 10px;
$searchPanelWidth: 275px;
$thinBorderWidth: 2px;


// Default styling for portrait phones and up
body {
  color: $clutterGray;
  font-family: 'Tahoma', sans-serif;

  h1 {
    border-bottom: $thinBorderWidth solid $clutterOrange;
  }

  h2, h3 {
    text-align: center;
  }

  h1, h2, h3 {
    color: $clutterBlue;
  }
}

#detail-panel, #search-panel {
  padding: $defaultCushion;
}

#toggle-details {
  color: $clutterAqua;
  display: block;
  margin-bottom: $defaultCushion;
  text-align: center;
  text-decoration: underline;

  &:hover {
    color: $clutterBlue;
    cursor: pointer;
  }
}

#movie-details {
  display: none;

  .show-details & {
    display: block;
  }
}

#movie-overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  p {
    max-width: 500px;
  }
}

#actor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

actor-card {
  border: $thinBorderWidth solid $clutterAqua;
  border-radius: $defaultBorderRadius;
  margin: $defaultCushion / 2;
  padding: $defaultCushion;
  text-align: center;
  width: 150px;
}

#loading-cast {
  text-align: center;
}

#search-panel {
  background: $clutterBackground;
  border-radius: $defaultBorderRadius;
  margin: 0 auto;
  width: $searchPanelWidth;

  h2 {
    text-align: left;
  }

  input {
    border-radius: $defaultBorderRadius;
    font-size: 14px;
  }
}

#movie-list {
  margin-top: $defaultCushion * 2;
}

.movie-listing {
  border: $thinBorderWidth solid white;
  border-radius: $defaultBorderRadius;
  margin: $defaultCushion 0;
  padding: $defaultCushion;
  text-align: center;
  width: 250px;

  p:first-of-type {
    font-weight: bold;
  }

  &:hover {
    border-color: $clutterOrange;
    cursor: pointer;
  }
}

// Additional styling for landscape phones and up
@media (min-width: 576px) {
  #main {
    position: relative;

    #detail-panel {
      margin-right: $searchPanelWidth + $defaultCushion * 2;
    }

    #toggle-details {
      display: none;
    }

    #movie-details {
      display: block;
    }

    #search-panel {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
